html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans Georgian", sans-serif;
  font-size: 18px; /* Fallback */
  font-size: clamp(1rem, 0.9375vw, 3rem);
  line-height: 1.6;
  scroll-behavior: smooth;
  /* background-size: 250% 250%;

  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}

/* Ripple effect */
.MuiTouchRipple-root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: scale(2);
  background: #2980b9;
}

.ReactModal__Overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  position: relative !important;
  border: none !important;
  background: transparent !important;
  padding: 1rem !important;
  inset: 0 !important;
}

.ReactModal__Close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.fa-fingerprint {
  color: #7f8c8d;
}

.fa-gavel {
  color: #323a4a;
}

.fa-trophy {
  color: #2980b9;
}

.fa-code {
  color: #27ae60;
}

.fa-magnifying-glass,
.fa-graduation-cap,
.fa-star,
.fa-puzzle-piece {
  color: #f39c12;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  height: 0.375rem;
  border: 0.25rem solid #7f8c8d;
  background-clip: padding-box;
  border-radius: 0.625rem;
  -webkit-border-radius: 0.625rem;
  background-color: #7f8c8d;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Ripple animation keyframes */
@keyframes ripple-animation {
  0% {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.2;
  }
  50% {
    width: 1rem;
    height: 1rem;
    opacity: 0.6;
    transform: scale(1.1);
  }
  100% {
    width: 2rem;
    height: 2rem;
    opacity: 0;
    transform: scale(1.3);
  }
}

/* next Question Animation keyframes */
@keyframes next-question-animation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive adjustments for ultra-wide screens */
@media screen and (min-width: 2560px) {
  html,
  body {
    font-size: 0.75vw; /* Decrease font size for ultra-wide screens */
  }
}

/* Responsive adjustments for smaller screens */
@media screen and (max-width: 1280px) {
  html,
  body {
    font-size: 1.2vw; /* Increase font size for smaller desktop screens */
  }
}

/* Responsive adjustments for tablets (iPad) */
@media screen and (max-width: 1024px) {
  html,
  body {
    font-size: 1.4vw; /* Adjust font size for iPads or similar-sized tablets */
  }
}

/* Responsive adjustments for smaller tablets (iPad Mini or similar) */
@media screen and (max-width: 768px) {
  html,
  body {
    font-size: 1.6vw; /* Adjust font size for smaller tablets */
  }
}
/* Adjust font size for larger mobile devices */
@media screen and (max-width: 600px) {
  html,
  body {
    font-size: 2vw; /* Adjust for larger mobile devices like phablets */
  }
}

/* Responsive adjustments for mobile phones */
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 2.85vw; /* Increase font size for mobile phones */
  }
}
