.main {
  padding: 4.889rem 1rem 1rem;
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  min-height: calc(100vh - 7.35rem);
}

@media screen and (max-width: 640px) {
  .container {
    min-height: 100%;
    margin-bottom: 0;
  }

  .main {
    width: 100%;
  }
}
