.header_root {
  display: flex;
  align-items: center;
  padding: 0 1rem 0 3rem;
  justify-content: space-between;
  background: #323a4a;
  color: #fff;
  height: 3.889rem;
}

.header_root .header_logo img {
  width: 12rem;
  transition: all 0.25s ease;
  cursor: pointer;
}

.header_root_bg {
  animation: header 0.5s ease;
  position: relative;
}

ul.header_links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

ul.header_links li {
  cursor: pointer;
  position: relative;
  text-align: center;
}

ul.header_links li:hover > .pannelWrapper {
  display: flex;
  max-height: 100vh;
  opacity: 1;
  overflow: visible;
  cursor: pointer;
  transition: opacity 0.5s;
}

ul.header_links li > span,
ul.header_links li > a {
  padding: 1rem;
  display: block;
  height: 3.889rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

ul.header_links li > span svg {
  display: none;
}

.pannelWrapper {
  display: none;
  max-height: 0;
  opacity: 0.5;
  overflow: hidden;
  position: absolute;
  right: 0;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  background: #323a4a;
}

.pannelColumn {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: left;
  position: relative;
}

.pannelColumn:after {
  content: "";
  height: 100%;
  display: block;
  width: 1px;
  background: linear-gradient(180deg, transparent, #fff, transparent);
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.pannelColumn h4 {
  margin: 0;
}

.pannelColumn a {
  padding: 0.5rem 0;
  white-space: nowrap;
}

.pannelColumn a:hover,
ul.header_links a:hover,
ul.header_links li:hover > span {
  color: rgba(255, 255, 255, 0.7);
  /* font-weight: bold; */
}

.arrowUp {
  width: 0;
  height: 0;
  border-left: 0.75rem solid transparent;
  border-right: 0.75rem solid transparent;
  border-bottom: 0.75rem solid rgba(255, 255, 255, 1);
  position: absolute;
  right: 3rem;
  top: -0.75rem;
}

.hamburger {
  display: none;
}

@keyframes header {
  0% {
    top: -5rem;
  }

  100% {
    top: 0rem;
  }
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 640px) {
  .header_root {
    /* height: 4.75rem; */
    padding: 0 1rem 0 1rem;
  }

  .pannelWrapper,
  ul.header_links li:hover > .pannelWrapper {
    position: static;
    flex-direction: column;
    background: transparent;
    margin: 0 1rem;
  }

  ul.header_links li.open > .pannelWrapper,
  ul.header_links li.open:hover > .pannelWrapper {
    display: block;
    opacity: 1;
    max-height: 100vh;
  }

  ul.header_links li > span svg {
    display: block;
  }

  ul.header_links li.open > span svg {
    transform: rotate(90deg);
  }

  ul.header_links {
    flex-direction: column;
    font-size: 1.5rem;
  }

  ul.header_links li {
    min-width: 100%;
    text-align: left;
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.5);
    padding: 0.5rem 0;
  }

  .pannelColumn {
    padding: 0 1rem;
  }

  .pannelColumn:after {
    display: none;
  }

  .arrowUp {
    display: none;
  }

  .pannelColumn a {
    margin: 0.5rem 0 1.5rem 0;
    padding: 0;
  }

  /* Menu Mobile */

  .hamburger {
    display: block;
    width: 3rem;
    cursor: pointer;
    z-index: 2;
    padding: 1rem 0;
  }

  .line {
    width: 100%;
    height: 0.25rem;
    background-color: #fff;
    margin: 0.5rem 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .menu {
    position: absolute;
    top: 0;
    left: -100%;
    width: 30rem;
    height: 100vh;
    background-color: #323a4a;
    transition: left 0.3s ease;
    z-index: 1;
  }

  .menu.open {
    left: 0;
    overflow-y: auto;
  }

  .line.open:nth-child(1) {
    transform: rotate(45deg) translate(0.75rem, 0.75rem);
  }

  .line.open:nth-child(2) {
    opacity: 0;
  }

  .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(0.25rem, -0.25rem);
  }

  ul.header_links li > span,
  ul.header_links li > a {
    justify-content: space-between;
  }
}

.logoLink {
  display: block;
}

.navLink {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
  height: 100%;
}

.navLink:hover {
  color: rgba(255, 255, 255, 0.7);
}

.pannelColumn .navLink {
  padding: 0.5rem 0;
  white-space: nowrap;
}

.header_links .navLink {
  padding: 1rem;
  display: block;
  height: 3.889rem;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  white-space: nowrap;
}
