.services_wrapper {
  text-align: center;
  position: relative;
}

.services_wrapper_section {
  display: flex;
  flex-wrap: wrap;
}

.services_item_text_wrapper {
  margin: 0.75rem;
  flex: 1 1 25rem;
}

.services_wrapper h2:after {
  content: "";
  height: 2px;
  display: block;
  width: 100%;
  background: linear-gradient(90deg, transparent, #2980b9, transparent);
  border-radius: 50%;
  margin-top: 1rem;
}

.icons {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.quizDetails {
  display: flex;
  margin-bottom: 1rem;
}

.quizDetails > div {
  flex: 1 1;
  margin-right: 1.5rem;
  text-align: left;
  overflow: hidden;
}

.noIntersecting {
  overflow: hidden;
}

.intersecting {
  -webkit-animation: AnimationName 1.5s ease;
  -moz-animation: AnimationName 1.5s ease;
  animation: AnimationName 1.5s ease;
}

@-webkit-keyframes AnimationName {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0%);
  }
}
@-moz-keyframes AnimationName {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0%);
  }
}
@keyframes AnimationName {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0%);
  }
}

.hero {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 5.889rem);
}

.heroImage {
  position: absolute;
  right: -30%;
  max-width: 70%;
  max-height: 100%;
  bottom: 0;
  z-index: -1;
  opacity: 1;
}

.heroright {
  margin: 1rem 0;
  text-align: left;
  position: relative;
}

@media screen and (max-width: 640px) {
  .services_item_text_wrapper {
    width: 100%;
    margin: 0 auto 1rem;
    flex: auto;
  }

  .services_wrapper_section {
    flex-direction: column;
  }

  .services_item_text_wrapper h2 {
    margin-bottom: 0.5rem;
  }

  .heroImage {
    right: 0;
    max-width: 45%;
  }

  .quizDetails {
    display: block;
  }
}
