.rootWrapper {
  display: flex;
  align-items: stretch;
}

.questionTitle:after {
  content: "";
  height: 2px;
  display: block;
  width: 100%;
  background: linear-gradient(90deg, transparent, #2980b9, transparent);
  border-radius: 50%;
  margin-top: 1rem;
}

.questionsWrapper {
  min-width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
}

.questionNumbers {
  position: relative;
}

.questionNumbers h4 {
  margin-bottom: 0;
}

.questionBullets {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  font-size: 0.75rem;
  padding: 0;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.timer,
.alert {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 0.5rem !important;
  margin: 0 !important;
  max-width: 23rem;
  background: transparent;
}
.alert > * {
  padding: 0;
}

.resultNotes {
  padding-top: 0.5rem;
}

.questionsPanel {
  max-height: 20rem;
  overflow-y: auto;
  padding: 0;
  white-space: nowrap;
  margin-top: 0.5rem;
  flex: 1 1 100%;
}

.sidePannel {
  padding: 1rem;
  border-radius: 0.5rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.bulletDefWrapper {
  display: flex;
}

.bulletDef {
  display: flex;
  margin: 0 0.5rem;
  align-items: center;
}

.sidePannelTestsList {
  display: flex;
  flex-direction: column;
}

.testDropdown {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .questionsWrapper {
    border-radius: 0;
    margin: 0 auto;
  }

  .alert > div {
    margin-right: 0.5rem;
  }

  .alert svg {
    width: 1.25rem;
    height: auto;
  }
}
